*,
*:after,
*:before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

ul
{
    list-style: none;
}

button
{
    font-family: 'Lato', sans-serif;

    cursor: pointer;

    border: none;
    background: none;
}

a
{
    cursor: pointer;
    text-decoration: none;

    color: inherit;
}



.c-page__header
{
    height: 7rem;

    background-color: #3498db;
    box-shadow: 0 5px 30px rgba(52, 152, 219, .4);
}

.c-page__content
{
    display: -ms-flexbox;
    display: flex;

    padding: 0 3rem 2rem 9.8rem;

    background-color: #f5f6f8;

    -ms-flex-pack: justify;

    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.c-page__contacts
{
    width: 100%;
    max-width: 27.5rem;
    margin-top: 2rem;

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(53, 152, 219, .1);
}

.c-page__chat
{
    width: 100%;
    margin: 2rem 3rem 0;
}

.c-page__aside
{
    width: 100%;
    max-width: 34.8rem;
    height: 66rem;
    margin-top: 2rem;

    background-color: #fff;
}



.c-contacts__head
{
    margin: 0 1.5rem;
    padding: 1.2rem 0;

    border-bottom: .1rem solid #edf0f2;
}

.c-head-block
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -ms-flex-align: center;

    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.c-head-block__title
{
    font-size: 1.6rem;
    font-weight: 700;

    color: #3598db;
}

.c-head-block__title_chat-name
{
    font-size: 1.8rem;

    margin-right: 1rem;

    color: #16315c;
}

.c-head-block__nav
{
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.c-btn-plane
{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;

    padding: 1.2rem 3.2rem;

    text-transform: uppercase;

    color: #8ea1b4;
    border-radius: .3rem;
    background-color: #d6e3ec;
}

.c-contact-item
{
    display: -ms-flexbox;
    display: flex;

    padding: 1.4rem 1.5rem;

    -ms-flex-preferred-size: 0;

    flex-basis: 0;
    -ms-flex-align: center;
    align-items: center;
}

.c-contact-item_active
{
    background-color: #f5f6f8;
}

.c-contact-item__info
{
    padding-left: 1.3rem;

    -ms-flex-positive: 1;

    flex-grow: 1;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.c-contact-item__time
{
    font-size: 1.2rem;

    color: #c9d6df;
}

.c-contact-item__state
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    padding-top: .5rem;

    -ms-flex-align: end;

    align-items: flex-end;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.c-contact-img
{
    position: relative;
}

.c-contact-img__new-msgs
{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;

    position: absolute;
    top: -.6rem;
    right: -.4rem;

    padding: .4rem .7rem;

    color: #fff;
    border-radius: 1rem;
    background-color: #3198db;
    box-shadow: 0 .2rem 1rem rgba(49, 152, 219, .5);
}



.c-text-info_non-active
{
    opacity: .6;
}

.c-text-info__name
{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;

    overflow: hidden;

    width: 100%;
    max-width: 16.5rem;
    margin-bottom: .2rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #34495e;
}

.c-text-info__last-msg
{
    font-size: 1.2rem;

    overflow: hidden;

    width: 100%;
    max-width: 15.7rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #8ea1b4;
}

.c-text-info__chat-state
{
    font-size: 1.2rem;

    width: 100%;

    color: #8ea1b4;
}

.c-state
{
    display: block;

    width: .8rem;
    height: .8rem;
    margin-bottom: .8rem;

    border-radius: 50%;
}

.c-state_online
{
    background-color: #51dacf;
    box-shadow: 0 .2rem .4rem #51dacf;
}

.c-state_offline
{
    background-color: #d4e1ea;
    box-shadow: 0 .1rem .5rem #c9d6df;
}

.c-state_chat
{
    width: 1rem;
    height: 1rem;
    margin-bottom: 0;
}

.c-chat
{
    position: relative;

    height: 100%;
}

.c-chat__head
{
    width: 100%;
    padding: 1.5rem 0;

    border-bottom: .1rem solid #edf0f2;
}

.c-chat__content
{
    padding-top: 1.5rem;
}

.c-chat__new-msg
{
    position: absolute;
    bottom: 0;

    width: 100%;
}

.c-inline-li
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: end;

    justify-content: flex-end;
}

.c-inline-li__item
{
    margin-left: 1.8rem;
}

.c-btn-nav
{
    padding: 1.5rem;
}

.c-btn-nav_call
{
    background: url('../img/icn-call.png') no-repeat center;
}

.c-btn-nav_video
{
    background: url('../img/icn-videocall.png') no-repeat center;
}

.c-btn-nav_menu
{
    background: url('../img/icn-menu.png') no-repeat center;
}

.c-chat-msgs
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-chat-msgs__item
{
    margin-bottom: 1.2rem;
}

.c-chat-msgs__item_outbox
{
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.c-chat-msgs__item_outbox .c-chat-msg
{
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.c-chat-msg
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;

    align-items: center;
}

.c-chat-msg__avatar
{
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.c-msg
{
    position: relative;

    max-width: 35rem;
    padding: 1.2rem 1.5rem;

    border-radius: 2rem;
}

.c-msg_outbox
{
    margin-right: 2.5rem;

    color: #fefefe;
    background-color: #3598db;
}

.c-msg_outbox:before
{
    position: absolute;
    top: 50%;
    right: -.7rem;

    width: 1.5rem;
    height: 1.4rem;
    margin-top: -.7rem;

    content: '\0020';

    background: url('../img/triangle-bl.png') no-repeat center;
}

.c-msg_inbox
{
    margin-left: 2.5rem;

    color: #8ea1b4;
    background-color: #fff;
}

.c-msg_inbox:before
{
    position: absolute;
    top: 50%;
    left: -.7rem;

    width: 1.5rem;
    height: 1.4rem;
    margin-top: -.7rem;

    content: '\0020';

    background: url('../img/triangle-wh.png') no-repeat center;
}

.c-msg__text
{
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.c-new-msg
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 0 2.5rem rgba(53, 152, 219, .05);

    -ms-flex-pack: justify;

    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.c-new-msg__input
{
    padding: 2.3rem;

    border: none;
    background-color: #fff;

    -ms-flex-positive: 1;

    flex-grow: 1;
}

.c-new-msg__input:focus
{
    outline: none;
}

.c-new-msg__input::-webkit-input-placeholder
{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;

    color: #8ea1b4;
}

.c-new-msg__btns
{
    margin-right: 1.5rem;
}

.c-btn
{
    padding: 2rem;
}

.c-btn_attach
{
    background: url('../img/icn-attach.png') no-repeat center;
}

.c-btn_send
{
    border-radius: 50%;
    background: url('../img/icn-send.png') no-repeat center;
    background-color: #3598db;
    box-shadow: 0 .3rem 1.5rem rgba(53, 152, 219, .3);
}
